@font-face {
  font-family: "iconfont"; /* Project id 3449455 */
  src: url('iconfont.woff2?t=1654405504357') format('woff2'),
       url('iconfont.woff?t=1654405504357') format('woff'),
       url('iconfont.ttf?t=1654405504357') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ren-duoren:before {
  content: "\e704";
}

.icon-daibantixing:before {
  content: "\e627";
}

.icon-liuliang:before {
  content: "\e61b";
}

.icon-liuliangtongji:before {
  content: "\e622";
}

