/* 初始化样式
------------------------------- */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none !important;
}

:root {
    --theme_bg_color: #f5f5ff;
}

html,
body,
#app {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: transparent;
	font-size: 14px;
	overflow: hidden;
	position: relative;
}